<!--详情页面-->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script>

        //全局的
        var jsonData;
        //删除左右空格
        function trim(value) {

            return value.replace(/(^\s*)|(\s*$)/g, "");
        }

        //提交按钮的 action
        function submitBtn(type) {

            if (type == 'add') {

                var title = document.getElementById('title');
                var subtitle = document.getElementById('subtitle');
                var iconUrl = document.getElementById('iconUrl');
                var sendDataForm = document.getElementById('sendDataForm');

                if (trim(title.value) == null || trim(title.value) == "") {

                    alert('标题不能为空');
                    title.focus();
                    return false;
                }
                if (trim(subtitle.value) == null || trim(subtitle.value) == "") {
                    alert("简要不能为空");
                    subtitle.focus();
                    return false;
                }
                if (trim(iconUrl.value) == null || trim(iconUrl.value) == "") {
                    alert("配图不能为空");
                    iconUrl.focus();
                    return false;
                }
            }
            else {

                var editTitle = document.getElementById('editTitle');
                var editSubtitle = document.getElementById('editSubtitle');
                var editIconUrl = document.getElementById('editIconUrl');
                var sendDataForm = document.getElementById('sendDataFormOfUpdate');


                if (editTitle.value == jsonData.title && editSubtitle.value == jsonData.subtitle && editIconUrl.value == jsonData.iconUrl) {

                    alert("未修改数据,无法更新数据");
                    editTitle.focus();
                    return false;
                }


            }


            sendDataForm.submit();
            resetBtn();
        }

        //重置按钮的 action
        function resetBtn(formName) {

            if (formName == 'sendDataForm')
                sendDataForm.reset();
            else if (formName == 'sendDataFormOfUpdate') {

                sendDataFormOfUpdate.reset();

            }

        }

        //全选
        function selectAll() {

            var doc = document.all;

            for (var i in doc) {

                if (typeof (doc[i] != "undefined" && doc[i].type == 'checkbox')) {

                    doc[i].checked = true;
                }
            }
        }

        //反选
        function unselectAll() {
            var doc = document.all;

            for (var i in doc) {

                if (typeof (doc[i] != "undefined" && doc[i].type == 'checkbox')) {

                    if (doc[i].checked)

                        doc[i].checked = false;
                    else
                        doc[i].checked = true;
                }
            }

        }

        //删除记录
        function deleteRow() {

            var elementsOfName = document.getElementsByName('checkboxName');
            var arr = new Array();
            for (var i in elementsOfName) {

                if (elementsOfName.item(i).checked) {

                    var item = elementsOfName.item(i).getAttribute("value");

                    if (isExistitem(arr, item)) {


                    } else {

                        arr.push(item);
                    }


                }

            }

            if (arr.length == 0) {

                alert('请选择要删除的记录!');

            } else {

                var alertView = confirm('是否要删除?');
                if (alertView) {

                    var params = {'rid': arr.toString()};

                    doDeleteAction('deleteData', params);
                } else

                    alert('已取消删除');

            }
        }

        //判断数组是否存在 item
        function isExistitem(arr, item) {

            for (var i in arr) {

                if (item == arr[i]) {
                    return true;
                }
                return false;
            }
        }

        //模拟表单提交
        function doDeleteAction(url, params) {

            var table = document.createElement('form');

            table.action = url;
            table.method = 'get';
            table.style.display = 'none';

            var obj = document.createElement('input');
            obj.name = 'rid';
            obj.value = params.rid;

            table.appendChild(obj);

            document.body.appendChild(table);
            table.submit();

            return table;

        }

        //填充更新页面数据
        function showEditPage(data) {

            jsonData = JSON.parse(data);

            document.getElementById('light').style.display = 'block';
            document.getElementById('fade').style.display = 'block';

            var rid = document.getElementById('rid');
            var editTitle = document.getElementById('editTitle');
            var editSubtitle = document.getElementById('editSubtitle');
            var editIconUrl = document.getElementById('editIconUrl');
            var sendDataFormOfUpdate = document.getElementById('sendDataFormOfUpdate');

            rid.value = jsonData.rid;
            editTitle.value = jsonData.title;
            editSubtitle.value = jsonData.subtitle;
            editIconUrl.value = jsonData.iconUrl;

        }

    </script>
</head>
<body>
<div class="header">
    <div class="header_title">
        <a href="/">
            后台管理系统
        </a>
        <span class="header_user">
            欢迎你,Admin
        </span>
    </div>
</div>

<div class="title-detail">
    <p>Welcome to <%= title %></p>
</div>

<div class="panel-detail">
    <!--<p>列表内容 </p>-->
    <form id="sendDataForm" method="post" action="addData">

        <fieldset>
            <legend>添加记录</legend>
            标题 : <input type="text" name="title" id="title"/>
            <br/><br/>
            简要 : <input type="text" name="subtitle" id="subtitle"/>
            <br/><br/>
            配图 : <input type="text" name="iconUrl" id="iconUrl"/>
            <br/><br/>

            <input style="color: #242424;width:auto;" type="button" onclick="resetBtn('sendDataForm')" value="重置"/>
            <input style="color: #242424;width:auto;" type="button" onclick="submitBtn('add')" value="提交"/>
        </fieldset>


    </form>
    <input style="width: auto ;cursor:pointer " type="button" name="" value="全选" onClick="selectAll()">
    <input style="width: auto ;cursor:pointer " type="button" name="" value="反选" onClick="unselectAll()">
    <input style="width: auto ;cursor:pointer " type="button" name="deleteBtn" value="删除" onClick="deleteRow()">
    <table width="100%">

        <tr style="text-align:center;font-size:15px;height:30px;color:#fff;background-color:#36A0FB;border:0;">


            <td style="width: 10px">选择</td>
            <td style="width: 10px">编号</td>
            <!--<td style="width: 30px">ID号</td>-->
            <td style="width: 100px">标题</td>
            <td style="width: 200px">简要</td>
            <td style="width: 100px">配图</td>
            <td style="width: 70px">创建时间</td>
            <td style="width: 70px">修改时间</td>
            <td style="width: 70px">操作</td>
        </tr>
        <%
        if(dataRows.length > 0){
            var singleRowData;
                for(var i in dataRows){
            singleRowData = '{"rid":"' + dataRows[i]['rid'] + '","title":"' + dataRows[i]['title'] + '","subtitle":"' + dataRows[i]['subtitle'] + '","iconUrl":"' + dataRows[i]['iconUrl'] + '"}';
            if (dataRows[i]['editTime'] == null) {

                dataRows[i]['editTime'] = "未编辑";
            } else {
                var date = new Date(dataRows[i]['editTime']);
                dataRows[i]['editTime'] = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
            }
            if (dataRows[i]['createTime']) {
                var date = new Date(dataRows[i]['createTime']);
                dataRows[i]['createTime'] = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
            }
        %>
        <tr style="text-align:center;height:26px;color:#4C4C4C;">

            <td>
                <input type="checkbox" name="checkboxName" style="width: auto; height: auto"
                       value="<%= dataRows[i]['rid'] %>"/></td>
            <td> <%= parseInt(i) + 1 %></td>
            <!--<td> <%= dataRows[i]['rid'] %></td>-->
            <td> <%= dataRows[i]['title'] %></td>
            <td> <%= dataRows[i]['subtitle'] %></td>
            <td> <%= dataRows[i]['iconUrl'] %></td>
            <td> <%= dataRows[i]['createTime'] %></td>
            <td> <%= dataRows[i]['editTime'] %></td>
            <td><a href="JavaScript:void(0)" onclick="showEditPage('<%= singleRowData %>')">编辑</a></td>
        </tr>
        <%
        }
        }else {
        %>
        <tr style="text-align:center;height:26px;color:#4C4C4C;">
            <td colspan="8" height="250px">
                <div style="font-size: 30px">
                    暂无记录
                </div>
            </td>
        </tr>

        <%
        }
        %>

    </table>

    <div id="light" class="white_content">
        <div style="padding-bottom: 16px">
            <a href="javascript:void(0)"
               onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"
               style="float: right ; color: crimson">
                关闭
            </a>
        </div>
        <form id="sendDataFormOfUpdate" method="post" action="updateData">
            <fieldset style="width: 96%; height: 90%">
                <legend>编辑记录</legend>
                <input type="hidden" name="rid" id="rid"/>
                标题 : <input type="text" name="editTitle" id="editTitle"/>
                <br/><br/>
                简要 : <input type="text" name="editSubtitle" id="editSubtitle"
                />
                <br/><br/>
                配图 : <input type="text" name="editIconUrl" id="editIconUrl"/>
                <br/><br/>

                <input style="color: #242424;width:auto;" type="button"
                       onclick="resetBtn('sendDataFormOfUpdate')" value="重置"/>
                <input style="color: #242424;width:auto;" type="button" onclick="submitBtn('update')" value="更新"/>
            </fieldset>
        </form>
    </div>
    <div id="fade" class="black_overlay"></div>
    <br><br><br><br><br>


</div>
</body>
</html>